body {
	
	font-family: 'Montserrat', sans-serif;
}

.bg-light {
    background-color: #020128!important;

}
.fixed {
  position: fixed;
  top:0; left:0;
  width: 100%;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
    font-size: 23px;
    font-weight: 200;
    font-family: 'Montserrat';
}

.banner-bg {
    background-image: url(img/bg.jpg);
    background-position: 50% 67%;
}
.banner-caption {
    border-color: rgba(22,74,65,0.79);
    background-color: rgba(22,74,65,0.79);
    text-align: center;
    
    padding: 30px 24px;
	border-radius: 24px;
	margin: 100px 0;
}
.nav-link i {
	font-size:38px;
}
.icon-header img {
	width:51px;
}
.f-menu {
    
    margin-bottom: 30px;
    height: 202px;
}
.banner-caption h1 {
    font-family: Montserrat;
    font-size: 2.5rem;
    font-weight: normal;
    color: #fff;
    font-weight: 400;
}
.list-new {
   width: 35%;
    margin: 0 auto;
   text-align: left;
    padding-bottom: 35px;
}
ul.list-new li {
   
    list-style: unset !important;
}
.banner-caption h3 {
    font-size: 2.25rem;
    font-weight: 700;
    background-image: none;
    margin: 10px 0 37px 36px;
    color: #fff;
    font-weight: 400;
    font-family: 'Montserrat';
}
.banner-caption div img {
	width:100px;
}
.btn-new {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    /* font-size: 1.25rem; */
    letter-spacing: 1px;
    padding: 11px 61px;
    color: #ffffff !important;
   background-color: #b48d13!important;
    border-radius: 37px;
    width: 196px;
    display: block;
    padding: 11px;
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
	 border: 2px solid #b48d13;
	transition: .2s;
}
.btn-new:hover {
	text-decoration:none;
	background: none !important;
    border: 2px solid;
}
.banner-caption h2 {
    font-weight: 700;
    font-family: "Big Shoulders Display";
    letter-spacing: 1px;
    text-shadow: 4px 2px 9px rgb(148 111 21);
    font-size: 4.375rem;
	color:#fce771 !important
   
}
.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
    padding-left: 24px;
}
.content-section {
	padding:100px 0;
color: #ffffff;
    background-color: #020128;
text-align:center;	
}

	
.content-section h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 43px;
    padding-bottom: 30px;
}
.section-content-img img {
	width:100%;
}
ul.list-new li {
    color: #eac74b!important;
    font-size: 1.5rem;
    font-family: Montserrat;
    font-weight: 500;
    list-style: none;
    font-size: 27px;
}

.road-map .title {
    font-size: 2.5rem;
    font-family: Montserrat;
    font-weight: 600;
    text-align: left;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 0;
}

.input-group-text i {
	
	font-size: 29px;
    padding: 2px 15px;}
	
.road-map ul.road-map-list {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 200;
    text-align: left;
    padding-left: 170px;
    padding-bottom: 0;
    margin-bottom: 0;
}
.pdd7 {
	
	padding-top: 78px;
}

.que {
    font-family: Montserrat;
    word-wrap: break-word;
    position: relative;
   color: #eac74b!important;
    text-align: left;
    margin: 0;
    font-size: 28px;
    font-family: 'Montserrat';
    font-weight: 400;
}

.que:after {
    content: "";
    position: absolute;
    height: 2px;
     width: 100%;
    top: 43%;
	 
    background: #eac74b !important;
    z-index: 0;
    left: 17%;
}
.roadmap-img {
	position:relative;
}

.roadmap-img img {
    position: relative;
    z-index: 9;
    width: 114%;
    padding-top: 230px;
    margin-left: -200px;
}
.roadmap-img .g-img img {
    position: absolute;
    width: 31%;
    z-index: 1;
    left: 92%;
    top: -61px;
    padding-top: 0 !important;
}

.roadmap-img .g-img2 img {
    position: absolute;
    width: 30%;
    z-index: 1;
    left: 92%;
    top: -61px;
    padding-top: 0 !important;
}

.register-sec {
    background-image: url(img/bg-register.png);
    background-position: 50% 67%;
}

.frm {
    width: 50%;
    text-align: center;
    margin: 0 auto;
    background: #a5a5a5;
    margin-bottom: 31px;
    border: 1px solid #8d8888;
    border-radius: 0;
    font-size: 28px;
    padding: 0px;
    height: 39px;
}

.section-register {
    color: #ffffff;
    background-color: rgba(22,74,65,0.79);
    padding: 28px 20px 60px 20px;
    border-color: rgba(22,74,65,0.79);
    border-radius: 24px;
}
.reg-logo img {
	width:80%;
}

.reg-logo p {
    color: #f1c50e !important;
    font-size: 20px;
    font-family: 'Open Sans';
    font-weight: 600;
}

.section-register h3 {
    font-family: "Big Shoulders Display";
    font-size: 3.75rem;
    text-shadow: 0 2px 8px rgb(128 128 128);
    margin: 31px auto 0;
    color: #fce771 !important;
    font-weight: 800;
    padding-bottom: 28px;
}

footer {
	color: #ffffff;
    background-color: #020128;
	padding:50px 0;
}
.f-menu ul {
 margin: 0px;
    padding: 0px;	
}
.f-menu ul li {
	list-style: none;
    
}

.f-menu ul li a {
    color: #fff;
    font-size: 18px;
   
    font-weight: 200;
}

.footer-social a {
color:#fff;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
   
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
    background-color: #b48d13;
   
}	

.footer-social {
    border-left: 1px solid #fff;
    padding-left: 25px;
    height: 403px;
}

.footer-social ul {
    margin: 0px;
    padding: 0px;
    display: table;
}
.footer-social ul li {
    list-style: none;
    /* float: left; */
    padding: 5px 9px;
    width: 21% !important;
    display: block;
    display: inline-block;
}

.footer-social ul li a img {
    width: 35px;
}.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.3rem;
    padding-left: 1.3rem;
}

@media only screen and (min-width : 320px) and (max-width : 480px) {
	.banner-caption h3 {
    font-size: 2.0rem;
    font-weight: 700;
    background-image: none;
    margin: 9px;
	}
	.pdd7 {
    padding-top: 0;
}
.footer-social {
    border-left: 1px solid #fff;
    padding-left: 25px;
    height: 256px;
}
.list-new {
    width: 79%;
    margin: 0 auto;
    text-align: center;
    /* margin: 0; */
}
.que {
    font-family: Montserrat;
    word-wrap: break-word;
    position: relative;
    
    text-align: left;
    margin: 0;
    font-size: 23px;
    font-family: 'Montserrat';
    font-weight: 400;
}
.roadmap-img img {
    position: relative;
    z-index: 9;
    width: 100%;
    padding-top: 42px;
    margin-left: 0;
}
.road-map ul.road-map-list {
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 200;
    text-align: left;
    padding-left: 14px;
    padding-bottom: 0;
    margin-bottom: 0;
    padding-top: 60px;
}
.que:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 53%;
    top: 100%;
    background: #f1c50e !important;
    z-index: 9999;
    left: 0%;
}
.roadmap-img .g-img img {
    position: absolute;
    width: 12%;
    z-index: 1;
    left: 25%;
    top: -54px;
}
.content-section h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 1.5rem;
    padding-bottom: 30px;
}
.roadmap-img .g-img2 img {
    position: absolute;
    width: 10%;
    z-index: 1;
    left: 68%;
    top: -44px;
}
.content-section {
    padding: 36px 0;
    color: #ffffff;
    background-color: #020128;
    text-align: center;
}
.banner-caption h1 {
    font-family: Montserrat;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
}
.banner-caption h2 {
    font-weight: 700;
    font-family: "Big Shoulders Display";
    letter-spacing: 1px;
    text-shadow: 4px 2px 9px rgb(148 111 21);
    font-size: 2.375rem;
    color: #fce771 !important;
}
.btn-new {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 11px 25px;
    color: #ffffff !important;
 
    border-radius: 37px;
    margin: 15px;
 
    display: block;
	margin: 0 auto;
    margin-bottom: 20px;

    margin-top:20px;
}

.navbar-brand img {
	width:137px;
}
.navbar-light .navbar-toggler {
    color: rgb(255 255 255);
    border-color: rgb(255 255 255 / 10%);
    background: #fff;
}
.fixed-top {
  
    z-index: 999999;
}
ul.social-ic {
    flex-direction: row;
    display: flex;
}

ul.social-ic li {
	
}
} 

@media only screen and (min-width : 768px) and (max-width : 1024px) {
	 .f-menu ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
	
}
.f-menu h3 {
	
    font-size: 19px;

}
.navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255) !important;
    font-size: 19px;
    font-weight: 200;
    font-family: 'Montserrat';
    padding-right: 15px !important;
    padding-left: 13px !important;
}
.btn-new {
	width: 171px;
	font-size: 15px;
}
.content-section h2 {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 33px;
    padding-bottom: 30px;
}
.roadmap-img img {
    position: relative;
    z-index: 9;
    width: 136%;
    padding-top: 252px;
    margin-left: -132px;
}
.roadmap-img .g-img img {
   
    left: 74%;
   
    padding-top: 0 !important;
}
.roadmap-img .g-img2 img {
    position: absolute;
  
    left: 90%;
}
.footer-social ul li a img {
    width: 22px;
}
.reg-logo p {
    color: #f1c50e !important;
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 600;
}

} 

.fixed-image-3{
    margin-left: 0%;
}
















#fcf-form {
    display:block;
}

.fcf-body {
    margin: 0;
    font-family: -apple-system, Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    max-width: 100%;
}

.fcf-form-group {
    margin-bottom: 1rem;
}

.fcf-input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

.fcf-form-control {
    display: block;
    width: 40%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ced4da;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    outline: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width : 320px) and (max-width : 480px) {

    .fcf-form-control {
        display: block;
        width: 100%;
        height: calc(1.5em + 0.75rem + 2px);
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #ced4da;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        outline: none;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
      
}




.fcf-form-control:focus {
    border: 1px solid #313131;
}

select.fcf-form-control[size], select.fcf-form-control[multiple] {
    height: auto;
}

textarea.fcf-form-control {
    font-family: -apple-system, Arial, sans-serif;
    height: auto;
}

label.fcf-label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

.fcf-credit {
    padding-top: 10px;
    font-size: 0.9rem;
    color: #545b62;
}

.fcf-credit a {
    color: #545b62;
    text-decoration: underline;
}

.fcf-credit a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.fcf-btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
    .fcf-btn {
        transition: none;
    }
}

.fcf-btn:hover {
    color: #212529;
    text-decoration: none;
}

.fcf-btn:focus, .fcf-btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.fcf-btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.fcf-btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.fcf-btn-primary:focus, .fcf-btn-primary.focus {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
}

.fcf-btn-block {
    display: block;
    width: 100%;
}

.fcf-btn-block+.fcf-btn-block {
    margin-top: 0.5rem;
}

input[type="submit"].fcf-btn-block, input[type="reset"].fcf-btn-block, input[type="button"].fcf-btn-block {
    width: 100%;
}












/*SEARCH BAR */
.search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }


  .input-search{
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #22a6b3;
    padding-right: 40px;
    color:#fff;

    border-style: none;
    width: 400px;
    outline: none;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
    
  }


  @media only screen and (min-width : 320px) and (max-width : 480px) {

    .search-box{
        width: fit-content;
        height: fit-content;
        position: relative;
        margin-bottom: 5%;
      }



    .input-search{
        height: 50px;
        width: 50px;
        border-style: none;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #22a6b3;
        padding-right: 40px;
        color:#fff;
    
        border-style: none;
        width: 350px;
        outline: none;
        border-radius: 0px;
        background-color: transparent;
        border-bottom:1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        
      }


      
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }

  .search-button{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
    }


  }


  @media only screen and (min-width : 1200px) and (max-width : 1440px)   and (-webkit-min-device-pixel-ratio: 1) {


    .search-box{
        width: fit-content;
        height: fit-content;
        position: relative;
      }



    .input-search{
        height: 50px;
        width: 50px;
        border-style: none;
        padding: 10px;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: 25px;
        transition: all .5s ease-in-out;
        background-color: #22a6b3;
        padding-right: 40px;
        color:#fff;
    
        border-style: none;
        width: 290px;
        outline: none;
        border-radius: 0px;
        background-color: transparent;
        border-bottom:1px solid rgba(255,255,255,.5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        
      }


      
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }

  .search-button{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
    }


    
}



  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }

  .search-button{
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }

  